<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701175903648-9plbe6leeb8evja99dqu7oqira1dlmuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701175903648-9plbe6leeb8evja99dqu7oqira1dlmuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701175903648-noifhq3lsv2r7ncb8ho7d829jbguqgsb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDboUMnrKm8mPh7SZ8jJhun9ZdUexr8Dj8</string>
	<key>GCM_SENDER_ID</key>
	<string>701175903648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.camarateSchoolLibrary</string>
	<key>PROJECT_ID</key>
	<string>camarateschoollibrary</string>
	<key>STORAGE_BUCKET</key>
	<string>camarateschoollibrary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701175903648:ios:c355e515026f74c35160c5</string>
</dict>
</plist>